body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#logo-container {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    text-align: center;
    position: relative;
}

#logo {
    max-width: 180px;
    height: auto;
}

#intro-container, #quiz-container, #score-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input[type="text"], input[type="email"] {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#next-button, #download-button {
    display: none;
}

#timer {
    margin-top: 10px;
    font-weight: bold;
}

.btn.selected {
    background-color: #d3d3d3;
}

.hide {
    display: none;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
